
{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>NUSMERCH</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'cover styling/assets/css/main.css' %}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/home_page/" class="logo">NUSMERCH</a>
				<nav class="right">
					<a href="/login/" class="button alt">Log in</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
                <ul class="links">
					<li><a href="/home_page/">Home</a></li>
					<li><a href="/about_page/">About</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="/login/" class="button fit">Log in</a></li>
				</ul>
			</nav>
			<br>
			<header class="align-center">
				<h1>About Page</h1>
				<br>
			</header>
	</body>

	<div class="w3-main" >
		{% block content %}
		
		<main class="mt-5 pt-4">
			<div class="container dark-grey-text mt-5">

			  <!--Grid row-->
			  <div class="row wow fadeIn">
		
				<!--Grid column-->
				<div class="col-md-6 mb-4">
		
					<img src="{% static  'images/about.png' %}" width="480" />
				</div>
				<div class="col-md-6 mb-4">
		
				  <!--Content-->
				  <div class="p-4">
					<br>
					<h5 style="font-family: MarkerFelt-thin">
					<p>More often than not, many clubs and faculties use their Instagram page as their only platform
						for their merchandise sales. But other than your own faculty’s Instagram page, who else do
						you follow? Thus, we often miss out on some really nice NUS t-shirts that we want to buy
						but have no idea which committee or faculty sells it! Hence, you start stalking all the halls
						and faculty’s instagram page but to no avail… You start thinking to yourself why can’t there
						be a central website where everyone can put up their merchandise sales so that everyone has
						perfect information about the available merchandise and do not have to rely on connections
						just to get a nice NUS shirt. </p>
					<p>As such, we hope that this website will be able to make it easier and more convenient for NUS students
						to support NUS fundraisers when getting NUS merchandise.</p>
					</h5>
				
					<br>
				</div>
			</div>

		</main>
	</div>

	{% endblock content %}
	
	

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-envelope"></span> <a href="#"> nusmerch@gmail.com</a></li>
						<li><span class="icon fa-map-marker"></span> 21 Lower Kent Ridge Rd, Singapore 119077</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'cover styling/assets/js/jquery.min.js'%}" ></script>
			<script src="{% static 'cover styling/assets/js/jquery.scrolly.min.js'%}" ></script>
			<script src="{% static 'cover styling/assets/js/skel.min.js'%}" ></script>
			<script src="{% static 'cover styling/assets/js/util.js'%}" ></script>
			<script src="{% static 'cover styling/assets/js/main.js'%}" ></script>


</html>