{% extends "nusmerch/loggedin.html" %}
{% load static %}


{% block head %}
    <title>Profile</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 style="font-family: Montserrat-Regualr, sans-serif">PROFILE</h1>
    <p>Username: {{ user }}</p>
    <p>Name: {{ user.userinfo.name }}</p>
    <p>Email: {{ user.userinfo.email }}</p>
    <p>Phone number: {{ user.userinfo.number }}</p>
    <p>Faculty: {{ user.userinfo.faculty }}</p>
    <p>Matric: {{user.userinfo.matric}}</p>
    <p>Campus Residential Type: {{user.userinfo.campus_residential_type}}</p>
    {% if user.userinfo.image %}
    <img src="{{ user.userinfo.image.url }}" width="240">
    {% endif %}
</div>

{% endblock %}


