{% extends "nusmerch/loggedin.html" %}
{% load static %}


{% block head %}
<title>Upload MERCH</title>
{% endblock %}

{% block menu2 %}
    <a onclick="myAccFunc2()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      User Account  <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc2" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="{% url 'nusmerch:view_profile' %}" class="w3-bar-item w3-button">Profile Details</a>
      <a href="{% url 'nusmerch:edit_profile' %}" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Edit Profile</a>
      <a href="{% url 'nusmerch:change_password' %}" class="w3-bar-item w3-button">Change Password</a>
    </div>

    <a href="/sell_merch/" class="w3-bar-item w3-button w3-padding w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Sell Merch</a>
{% endblock %}

{% block body %}
<div class="container">
<h1 style="font-family: Montserrat-Regualr, sans-serif">Sell MERCH</h1>
	<form class="contact-form" method="POST" action="/sell_merch/" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="login100-form-btn">
            Post
        </button>
    </form>
    <br>
</div>

<hr>

<div class="container">
<h2 style="font-family: Montserrat-Regualr, sans-serif">MERCH Listed</h2>

    <br>
</div>

{% endblock %}

