{% extends "nusmerch/merch.html" %}
{% load static %}




{% block imghead %}
  <div class="w3-display-container w3-container">
    <img src="{% static  'images/shirts.jpg' %}" alt="Jeans" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Shirts</h1>
      <h1 style="color: steelblue;"class="w3-hide-large w3-hide-medium">Shirts</h1>
      <h1 class="w3-hide-small" >NUS COLLECTION</h1>
      <p><a href="#shirts"  class="w3-button w3-greys w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="shirts">
  </div>
{% endblock %}

{% block menu %}

<nav class="w3-sidebar w3-bar-block w3-black w3-collapse w3-top" style="z-index:3;width:250px"id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <a href="/shirt/" class="logo w3-wide" style="color: steelblue;">NUSMERCH</a>
  </div>

  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">

      <a onclick="myAccFunc()" href="javascript:void(0)"  class="w3-button w3-greys w3-block w3-left-align" id="myBtn">
      Apparel  <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" style="color: steelblue;" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="/shirt/"  style="color: steelblue;" class="w3-bar-item  w3-greys w3-button "><i class="fa fa-caret-right w3-margin-right"></i>Shirts</a>
      <a href="/bottom/" style="color: steelblue;" class="w3-bar-item w3-button">Bottom</a>
      <a href="/outerwear/" style="color: steelblue;" class="w3-bar-item w3-button">Outerwear</a>
    </div>


    <a href="/lifestyle/" style="color: rgb(255, 255, 255);" class="w3-bar-item w3-button">Lifestyle</a>
    <a href="/laptop/" style="color: rgb(255, 255, 255);"class="w3-bar-item w3-button">Laptop Accessories</a>
    <a href="/others/" style="color: rgb(255, 255, 255);"class="w3-bar-item w3-button">Others</a>
  </div>


    <a onclick="myAccFunc2()" href="javascript:void(0)"  class="w3-button w3-block w3-black w3-left-align" style="color: steelblue;" id="myBtn">
      User Account  <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc2" class="w3-bar-block w3-hide w3-padding-large w3-medium" >
      <a href="{% url 'nusmerch:view_profile' %}" style="color: steelblue;"class="w3-bar-item  w3-button">Profile Details</a>
      <a href="{% url 'nusmerch:edit_profile' %}" style="color: steelblue;"class="w3-bar-item w3-button">Edit Profile</a>
      <a href="{% url 'nusmerch:change_password' %}" style="color: steelblue;"class="w3-bar-item w3-button">Change Password</a>
    </div>
  <a href="/sell_merch/" style="color: rgb(255, 255, 255);"class="w3-bar-item w3-button w3-padding">Sell Merch</a>
    <a href="#footer"style="color: rgb(255, 255, 255);" class="w3-bar-item w3-button w3-padding">Contact</a>
</nav>

{% endblock %}


