{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/login & sign up styling/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="contact-form" method="POST" action="/add_user_form_submission/">
					{% csrf_token %}

					<span class="login100-form-title p-b-34 p-t-27">
						NUSMERCH Sign Up
					</span>
					{{ user_form.as_p }}
					{{ profile_form.as_p }}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign Up
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	

	<script src="{% static 'login _ sign up styling/vendor/jquery/jquery-3.2.1.min.js' %}"></script>

	<script src="{% static 'login _ sign up styling/vendor/animsition/js/animsition.min.js' %}"></script>

	<script src="{% static 'login _ sign up styling/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login _ sign up styling/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

	<script src="{% static 'login _ sign up styling/vendor/select2/select2.min.js' %}"></script>

	<script src="{% static 'login _ sign up styling/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login _ sign up styling/vendor/daterangepicker/daterangepicker.js' %}"></script>

	<script src="{% static 'login _ sign up styling/vendor/countdowntime/countdowntime.js' %}"></script>

	<script src="{% static 'login _ sign up styling/js/main.js' %}"></script>

</body>
</html>