{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'login _ sign up styling/vendor/bootstrap/css/bootstrap.min.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'login _ sign up fonts/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login _ sign up styling/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cover styling/assets/css/main2.css' %}">






</head>
<body style="background-color:ghostwhite;">

	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100">
				<form class="contact-form" method="POST" action="/add_user_form_submission/" enctype='multipart/form-data'>
					{% csrf_token %}

					<span class="login100-form-title p-b-34 p-t-27">
						NUSMerch Sign Up 
						<p> Please use a valid NUS email</p>
					</span>
					{{ user_form.as_p }}
					{{ profile_form.as_p }}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" style="font-family: MarkerFelt-thin;">
							Sign Up
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>
</html>